@charset "UTF-8";

*{margin:0; padding:0;
font-family: "Noto Sans KR","Nanum Gothic", sans-serif, 'Inter';}

footer {
    display: fixed;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 220px;
    background: black;
    color: #FFFFFF;
    overflow: hidden;
}

.footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
    padding-left: 200px;
}

#logo {
	display: fixed;
}

#logo img {
    height: auto;
}

#text {
    display: fixed;
    margin-top: 30px;
    padding-left: 50px;
    letter-spacing: 0.8px;
}

#main_text {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    align-items: left;
}

#main_text a {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
    border-bottom: 1px solid white;
}

#main_text a:hover {
    color: #CCCCCC;
}

#terms, #privacy-policy{
	letter-spacing: 2px;
}

#sub_text {
	margin-top: 10px;
    font-size: 15px;
    line-height: 1.6;
    align-items: left;
}

#company-info,
#business-license,
#address {
    margin-bottom: 2px;
    text-align: left;
}

/* 모달 배경 */
.privacy_modal, .terms_modal{
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#privacy_pop, #terms_pop{
    width:500px; height:650px; padding:40px; text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,0.15); 
}

#h2 {
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 800;
    color: white;
    letter-spacing: 1.5px;
}

#p_button, #u_button{
    position: relative;
}

#pBtn, #uBtn{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* 텍스트 영역 스타일 */
#text_modal {
    width: 400px;
    height: 425px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    resize: none; /* 사용자가 크기 조절하지 못하도록 */
    margin-bottom: 20px;
}